$gray: #758091;
$gradient: linear-gradient(145.44deg, #E8EDF0 10.54%, rgba(232, 237, 240, 0) 85.04%);
$border: 1px solid #E9ECF2;
$shadow: drop-shadow(0px 3.84083px 20.1644px rgba(157, 175, 181, 0.25));
$main-text: #232527;

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

body::after {
  content: '';
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  top: -60px;
  left: -122px;

  background: $gradient;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 9.6vw;
}

.title {
  text-align: center;
  font-size: 36px;
  color: $gray;
  padding: 100px 0;
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 0.24fr 0.5fr 0.26fr;
  gap: 20px;
  padding-bottom: 100px;
}

.card {
  border: $border;
  border-radius: 16px;
  &:nth-child(1) {
    grid-row: span 2;
  }
}

.card__img-medium {
  width: 100%;
  border-radius: 15px;
}

.card__img-big {
  width: 45%;
  float: left;
  padding-right: 20px;
  border-radius: 15px;
}

.card__img-default {
  padding: 20px 14px 0 20px;
  float: left;
}

.card__text {
  font-size: 14px;
  line-height: 150%;
  color: $main-text;
  margin: 20px 20px 20px;
}

.card__author {
  display: block;
  margin-top: 20px;
}

.card__author-work {
  font-weight: 200;
}

.card__stars {
  display: block;
  padding-top: 8px;
  padding-bottom: 20px;
}